---
import { type WebPost } from "./web-post.interface";

interface Props {
  post: WebPost;
}

const { post } = Astro.props;
const { title, author, date, source, favicon } = post;
const faviconUrl = favicon
  ? favicon
  : `https://${new URL(source).hostname}/favicon.ico`;
---

<a href={source} target="_blank">
  <div class="card">
    <div class="header">
      <img class="header-image" src={faviconUrl} alt="Image" />
      <div>
        <div class="post-title">{title}</div>
        <div>
          by {author}
          <span class="date">
            - {`${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`}
          </span>
        </div>
      </div>
    </div>
  </div>
</a>

<style>
  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .card {
    width: 100%;
    max-width: 400px;
    text-align: left;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 5px #797979;
    padding: 7px;
    box-sizing: border-box;
    background-color: #13151ab8;
  }

  .header {
    display: flex;
    gap: 12px;
    font-size: 0.45em;
  }

  .post-title {
    font-weight: bold;
  }

  .date {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .header-image {
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }

  .body {
    font-size: 0.5em;
    line-height: 1.4;
    white-space: pre-line;
  }

  .media {
    border-radius: 8px;
    overflow: hidden;
  }
</style>
